/*@import '~antd/dist/antd.min.css'; */

.navbar {
    background: rgb(229,210,196);
    background: linear-gradient(0deg, rgba(229,210,196,1) 0%, rgba(183,110,121,1) 100%);
    padding: 1em;
}
.navbar .logo {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 2em;
}
.primary-nav li{
list-style: none;
}
.navbar .container {
    display: grid;
    grid-template-columns: 200px auto;
    justify-content: unset;
}
.navbar nav{
    display: flex;
    justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
}
.navbar nav ul {
    display: flex;
}
.navbar nav ul a {
    color: black;
    font-size: 1em;
    padding: .1em 1em;
}
ul.primary-nav {
    margin: 0;
}
.main-container{
    text-align: center;
    background-color: beige;
    width: 100%;
    display: flex;
    height: 30em;
  
}
.left-container{
    background-color: #E5D2C4;
    width: 50%;
    float: left;
    padding: 5em;
}
.right-container{
    width: 50%;
    float: left;
    background: rgb(183,110,121);
    background: radial-gradient(circle, rgba(183,110,121,1) 0%, rgba(229,210,196,1) 100%);
}
.primary-cta{
    background:#5e7168;
    color: white;
    text-decoration: none;
    padding: .6em 1.3em;
    font-size: 1.4em;
    border-radius: 5em;
    font-weight: bold;
    display: inline-block;
    margin-right: 1em;
}
.image-container{
    padding-top: 5em;
    font-size: 2.5em;

}
.card-container{
    text-align:center;
    width: 100%;
}
.db-comment{
    width: 100%;
    text-align: center;
}
.likeandcomment{
    width: 100%;
    display: flex;
}
.likebtn{
    float: left;
    width: 33.3%;
}
.dislikebtn{
    float: left;
    width: 33.3%;
}
.commentbtn{
    float: left;
    width: 33.3%;
}
.secondary-container{
    background: rgb(229,210,196);
    background: linear-gradient(0deg, rgba(229,210,196,1) 0%, rgba(183,110,121,1) 200%);
    padding: 2em;
    display: flex;
    justify-content: center;
}
.card-li{
    display: flex;
    justify-content: center;
    padding: 5em;
}
.ant-card-body{
    background: rgb(255,238,240);
    background: linear-gradient(0deg, rgba(255,238,240,1) 0%, rgba(229,210,196,1) 200%);
}
.first-div{
    display: flex;
    height: 20.75em;
    background-color: #E5D2C4;
}
.first-left{
    height: 20.75em;
    width: 50%;
    background-color: #E5D2C4;
}
.first-right{
    height: 20.75em;
    width: 50%;
    background-color: #E5D2C4;
}
.second-div{
    display: flex;
    height: 20.75em;
    background-color: #E5D2C4;
}
.second-left{
    height: 20.75em;
    width: 50%;
    background-color: #E5D2C4;
  
}
.second-right{
    height: 20.75em;
    width: 50%;
    background-color: #E5D2C4;
}
.third-div{
    display: flex;
    height: 20.75em;
    background-color: #E5D2C4;
}
.third-left{
    height: 20.75em;
    width: 50%;
    background-color: #E5D2C4;
  
}
.third-right{
    height: 20.75em;
    width: 50%;
    background-color: #E5D2C4;
}
.fourth-div{
    display: flex;
    height: 20.75em;
    background-color: #E5D2C4;
}
.fourth-left{
    height: 20.75em;
    width: 50%;
    background-color: #E5D2C4;
}
.fourth-right{
    height: 20.75em;
    width: 50%;
    background-color: #E5D2C4;
}
.fifth-div{
    display: flex;
    height: 20.75em;
    background-color: #E5D2C4;
}
.fifth-left{
    height: 20.75em;
    width: 50%;
    background-color: #E5D2C4;
  
}
.fifth-right{
    height: 20.75em;
    width: 50%;
    background-color: #E5D2C4;
}
.about-story{
    background: rgb(183,110,121);
    background: radial-gradient(circle, rgba(183,110,121,1) 0%, rgba(229,210,196,1) 100%);
    padding-bottom: 15em;
    text-align: center;
}
.about-header{
    padding-top: 2em ;
    font-size: 3em;
    margin-left: 16.7%;
    margin-right: 16.7%;
}
.about-paragraph{
    padding-top: 4em;
    margin-left: 16.7%;
    margin-right: 16.7%;
}
.img{
    width: 10em;
    height: 10em;
    border: 5px solid rgb(183,110,121);
    border: radial-gradient(circle, rgba(183,110,121,1) 0%, rgba(229,210,196,1) 100%);
    border-radius: 50%;
    margin-top: -4.5em;
}
blockquote{
    text-align: center;
    padding: 2%;
    font-style: italic;
}
h4{
    text-align: center;
    padding: 1em;
}
