/*@import '~antd/dist/antd.min.css'; */
.navbar {
    background: rgb(229,210,196);
    background: linear-gradient(0deg, rgba(229,210,196,1) 0%, rgba(183,110,121,1) 100%);
    padding: 1em;
}
.navbar .logo {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 2em;
}
.primary-nav li{
list-style: none;
}
.navbar .container {
    display: grid;
    grid-template-columns: 200px auto;
    justify-content: unset;
}
.navbar nav{
    display: flex;
    justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
}
.navbar nav ul {
    display: flex;
}
.navbar nav ul a {
    color: black;
    font-size: 1em;
    padding: .1em 1em;
}
ul.primary-nav {
    margin: 0;
}
.main-container{
    text-align: center;
    background-color: beige;
    width: 100%;
    display: flex;
    height: 30em;
  
}
.left-container{
    background-color: #E5D2C4;
    width: 50%;
    float: left;
    padding: 5em;
}
.right-container{
    width: 50%;
    float: left;
    background: rgb(183,110,121);
    background: radial-gradient(circle, rgba(183,110,121,1) 0%, rgba(229,210,196,1) 100%);
}
.primary-cta{
    background:#5e7168;
    color: white;
    text-decoration: none;
    padding: .6em 1.3em;
    font-size: 1.4em;
    border-radius: 5em;
    font-weight: bold;
    display: inline-block;
    margin-right: 1em;
}
.image-container{
padding-top: 5em;
font-size: 2.5em;

}
.card-container{
    text-align:center;
    width: 100%;
}
.db-comment{
    width: 100%;
    text-align: center;
}
.likeandcomment{
    width: 100%;
    display: flex;
}
.likebtn{
    float: left;
    width: 33.3%;
}
.dislikebtn{
    float: left;
    width: 33.3%;
}
.commentbtn{
    
    float: left;
    width: 33.3%;
}
